@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-2u9nbn');
	src:url('fonts/icomoon.eot?#iefix-2u9nbn') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-2u9nbn') format('truetype'),
		url('fonts/icomoon.woff?-2u9nbn') format('woff'),
		url('fonts/icomoon.svg?-2u9nbn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
	content: "\e600";
}
.icon-spades:before {
	content: "\e601";
}
.icon-file-text2:before {
	content: "\e602";
}
.icon-user:before {
	content: "\e603";
}
