 body {
        padding: 0;
        margin: 0;
    }
    
    .main {
        width: 800px;
        margin: 0 auto;
        padding-left: 150px;
        margin-top: 100px;
    }
    
    .logo {
        margin-left: 170px;
        margin-bottom: 30px;
    }
    
    .nav {
        text-align: center;
        height: 23px;
    }
    
    .nav li {
        float: left;
        padding: 0 5px;
        list-style: none;
    }
    
    .current {
        color: #000;
    }
    
    .search {
        width: 680px;
        margin-left: 20px;
    }
    
    .search .keywords {
        width: 500px;
        height: 28px;
        padding-left: 5px;
        line-height: 28px;
        border: 1px solid #ccc;
    }
    
    .search .submit {
        height: 33px;
        width: 100px;
        cursor: pointer;
        border: 1px solid #ccc;
        background: #DCDADB;
    }